*{
 
    box-sizing: border-box;
}

#main{
    width: 50%;
    height: auto;
    margin:40px auto ;
    background-color: rgb(203, 226, 246);
    border: 5px solid black;

}
#header{
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    margin-top: 0px;
    padding-top: 10px;
}
h1,h2,p{
    padding:10px 20px ;
}

img{
    border: 3px solid black;
    border-radius:10px ;
    background-position: cover;
    object-fit: cover;
    margin-left: 15px;

}